body {
  background-color: #3b3b3b;
  color: white;
  font-family: Verdana;
}

#page {
  margin: 95px;
  padding: 30px;
}

h1 { 
  color: #bf6faf;
  }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #1a1a1a;
   color: white;
}
